.main {
  text-align: center;
}

.intro {
  background: #e2e2e2;
}

.intro > p {
  margin: 0;
  padding: 40px;
}

.characters {
  display: flex;
  flex-direction: column;
}

.footer {
  background-color: #282c34;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer > div {
  width: 50%;
}

.footer .links > ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.footer .links > ul > li {
  margin-right: 20px;
}

.footer .links > ul > li a {
  color: #ffffff;
}
