.navigation > ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #000000;
  margin: 0;
}

.navigation > ul > li {
  padding: 5px;
}

.navigation > ul > li:hover {
  background: #282c34;
}

.navigation > ul > li + li {
  margin-left: 20px;
}

.navigation > ul > li > a {
  color: #ffffff;
  text-decoration: none;
}
