.main {
  text-align: center;
}

.intro {
  background: #e2e2e2;
}

.intro > p {
  margin: 0;
  padding: 40px;
}

.characters {
  display: flex;
  flex-direction: column;
}

.filter {
  padding: 20px;
}

.filter > label {
  font-size: 16px;
}

.filter select {
  font-size: 16px;
  padding: 10px 5px;
}

.list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background: #e2e2e2;
  width: 18%;
  margin: 1%;
}

.card > img {
  width: 100%;
}

.card > h3 {
  padding: 20px;
}
